<li data-metric-id="{{_id}}" data-col="1" data-row="1" data-sizex="1" data-sizey="1">
  <div class="panel dashboard-item">
    <div class="panel-body">
      <h1>{{data}}</h1>
      <h6>{{name}}</h6>
    </div>
  </div>
</li>