<h1>{{name}}</h1>
<div class="metric-flot" data-metric-type="pie">
  <script class="metric-data" type="text/x-metric-data">
  {{{value}}}
  </script>
  <div class="row">
    <div class="col-md-9 col-xs-9">
      <canvas></canvas>
    </div>
    <div class="col-md-3 col-xs-3 legend"></div>
  </div>
</div>