<li data-metric-id="{{_id}}" data-col="1" data-row="1" data-sizex="1" data-sizey="2">
  <div class="panel dashboard-item">
    <div class="panel-body">
      <h1>{{name}}</h1>
      <div class="metric-flot" data-metric-type="bar">
        <script class="metric-data" type="text/x-metric-data">
        {{{data}}}
        </script>
        <canvas></canvas>
      </div>
    </div>
  </div>
</li>