<h1>Annie</h1>
<a href="applications">View Applications</a>

<h1>SDKs</h1>
<h2>Browser</h2>
<p><a href="/sdk/browser/annie.js">annie.js (uncompressed)</a></p>
<p><a href="/sdk/browser/annie.min.js">annie.min.js (minified)</a></p>
<h2>NodeJS</h2>
<p><a href="/sdk/node/annie.js">annie.js</a></p>
<h2>PHP</h2>
<p><a href="/sdk/php/annie.php">annie.php</a></p>