<div class="marketing">
  <div class="row" id="splash">
    <div class="content col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <h1>Annie</h1>
        <p>Annie is a <a href="http://en.wikipedia.org/wiki/Time_series">time series</a> data collection and analysis system.</p>
        <p>You can collect timestamped events with any kind of satellite data, and then derive metrics <i>post hoc</i>.</p>
        <p></p>
      </div>
      <div class="col-md-8">
        <img src="" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="content">
      <div class="col-md-4">
        <div class="feature">
          Hi
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          Bye
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          Die
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="content">
      <p>Start using Annie now</p>
      <p><a href="" class="btn btn-primary">signup</a></p>
    </div>
  </div>

</div>