<div class="marketing">
  <div class="row" id="splash">
    <div class="content">
      <div class="col-md-4">
        <h1>Annie</h1>
        <p>Annie is an event-based data collection and analysis system.</p>
        <p>You can collect timestamped events attached with additional data, and then derive metrics <i>post hoc</i>.</p>
        <p></p>
      </div>
      <div class="col-md-8">
        <img src="" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="content">
      <div class="col-md-4">
        <div class="feature">
          <p><i class="fa fa-code"></i></p>
          <p><strong>Tracking API</strong></p>
          <p>Single API for tracking any timestamped events.</p>
          <p>There are SDKs for NodeJS and PHP.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <p><i class="fa fa-area-chart"></i></p>
          <p><strong>Metrics</strong></p>
          <p>Use a simple DSL for deriving metrics from tracked events.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <p><i class="material-icon mdi-action-dashboard"></i></p>
          <p><strong>Dashboard</strong></p>
          <p>View all your metrics in a dashboard.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="content">
      <div class="col-md-12 text-center">
        <p>KTS is already using it.</p>
        <p>What are you waiting for?</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="content">
      <div class="col-md-12 text-center">
        <p>Start using Annie now</p>
        <p><a href="signup" class="btn btn-primary">signup</a></p>
      </div>
    </div>
  </div>

  <div class="row" id="footer">
    <div class="content">
      <div class="col-md-12 text-center">
        <p>By <a href="https://twitter.com/neonaleon"><i class="fa fa-twitter"></i> Leon</a></p>
      </div>
    </div>
  </div>

</div>