<h2>Guides</h2>
<a href="guides">Guide</a>

<h2>SDKs</h2>
<h3>Browser</h3>
<p><a href="sdk/browser/annie.js">annie.js (uncompressed)</a></p>
<p><a href="sdk/browser/annie.min.js">annie.min.js (minified)</a></p>
<h3>NodeJS</h3>
<p><a href="sdk/node/annie.js">annie.js</a></p>
<h3>PHP</h3>
<p><a href="sdk/php/annie.php">annie.php</a></p>