<div class="row">
  <div class="col-md-12">
    <h1>Add New Application</h1>
    <form method="POST" role="form">
      <div class="form-group">
        <input class="form-control floating-label" name="appName" type="text" placeholder="Application Name">
      </div>
      {{!-- <div class="form-group">
        <input class="form-control floating-label" name="domain" type="text" placeholder="Domains">
      </div> --}}
      <input class="btn btn-primary" type="submit">
    </form>
  </div>
</div>