<h1>{{appName}} <small>{{_id}}</small> <a href="applications/{{_id}}/metric/add" class="btn btn-primary mdi-content-add"></a></h1>
<a href="" class="btn btn-default btn-raised">View Events</a>
<div class="row">
  <div class="gridster">
    <ul>
    {{#each metrics}}
      {{{render-metric-partial}}}
    {{/each}}
    </ul>
  </div>
</div>