<div class="row">
  <div class="col-md-12">
    <form method="POST">

      <div class="form-group">
        <label for="appId" class="control-label">Application ID</label>
        <p>{{_id}}</p>
      </div>

      <div class="form-group">
        <label for="appName" class="control-label">Application Name</label>
        <input type="text" class="col-md-10 form-control" name="appName" value="{{appName}}">
      </div>

      <div class="form-group">
        <label for="apiKey" class="control-label">API key</label>
        <p>{{apiKey}}</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="regenerateApiKey"> Regenerate API Key</input>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="appId" class="control-label">Domains</label>
        <input type="text" class="form-control" name="domains" value="{{domains}}">
        <span class="help-block">comma-separated list of domains</span>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
</div>